%h1.league_h1= @league.name

- if @league.active
  - if @league.users.include?(current_user)
    - if @league.drafting
      - draft = @league.drafts.last
      %h2= link_to "View Draft", league_draft_path(@league.id, draft.id)
    - else
      %h2 Time to fight!
      - @league.matches.each do |match|
        - if match.finished
          %p.finished_match #{match.users.first.username} vs. #{match.users.last.username}
        -else
          %p.active_match #{match.users.first.username} vs. #{match.users.last.username}
          = form_tag('/finish', method: 'post') do
            = hidden_field_tag(:match_id, match.id)
            = hidden_field_tag(:league_id, @league.id)
            = submit_tag("Finish")
- else
  - if current_user == @league.commissioner
    = button_to "Begin Draft", league_drafts_path(@league)
    %h2 Add Members to the League
    = form_tag('/invite', method: 'post') do
      = label_tag(:emails, "Enter player emails: ")
      = text_field_tag(:emails)
      = hidden_field_tag(:league_id, @league.id)
      = submit_tag("Invite")

  - if !@league.users.include?(current_user)
    %h2 Join the League
    = form_tag('/join', method: 'post') do
      = label_tag(:team_name, "Team Name")
      = text_field_tag(:team_name)
      = label_tag(:league_key, "League Key")
      = text_field_tag(:league_key)
      = hidden_field_tag(:league_id, @league.id)
      = hidden_field_tag(:user_id, current_user.id)
      = submit_tag("Join")

%h2 Members
- @league.users.each do |user|
  %p
    - if user == @league.commissioner
      Commissioner:
    #{user.username}
