!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 The draft has begun for #{@league.name}!
    %p
      Greetings, #{@member.username}! The draft has begun for #{@league.name}. Your draft position is #{@snake_position.position}.
    %p
      To view the draft, just follow
      = link_to "this link.", league_draft_url(@league, @draft)
