%h2.draft_h2 Welcome to the draft for
%h1.draft_h1= link_to "#{@league.name}", league_path(@league.id)

- @current_position = @draft.snake_positions.find_by position: @draft.current_position

- if @current_position.user == current_user
  %h2.draft_h2 It is your turn to draft!
-else
  %h2.draft_h2 Current user to draft is #{@current_position.user.username}, who is position #{@current_position.position} in the draft.

%table
  %thead
    %th Last Name
    %th First Name
    %th Aim
    %th Sight
    %th Stealth
    %th Speed
    %th Hardiness
    %th Leadership
    %th Average
    - if @current_position.user == current_user
      %th
  %tbody
    - @draft.tokens.each do |token|
      - soldier = token.units.first.soldiers.first
      %tr
        %td= soldier.last_name
        %td= soldier.first_name
        %td= soldier.aim
        %td= soldier.sight
        %td= soldier.stealth
        %td= soldier.speed
        %td= soldier.hardiness
        %td= soldier.leadership
        %td= (soldier.aim + soldier.sight + soldier.stealth + soldier.speed + soldier.hardiness + soldier.leadership)/6
        - if @current_position.user == current_user
          %td= button_to "Draft", choose_league_draft_path(@league, @draft, :token_id => token.id)
