%h1 Draft for
%h1= link_to "#{@league.name}", league_path(@league.id)

%table
  %thead
    %th Last Name
    %th First Name
    %th Aim
    %th Sight
    %th Stealth
    %th Speed
    %th Hardiness
    %th Leadership
    %th Average
  %tbody
    - @draft.tokens.each do |token|
      - soldier = token.units.first.soldiers.first
      %tr
        %td= soldier.last_name
        %td= soldier.first_name
        %td= soldier.aim
        %td= soldier.sight
        %td= soldier.stealth
        %td= soldier.speed
        %td= soldier.hardiness
        %td= soldier.leadership
        %td= (soldier.aim + soldier.sight + soldier.stealth + soldier.speed + soldier.hardiness + soldier.leadership)/6
