!!!
%html
  %head
    %title CTFLeague
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %ul.main_navigation
        %li= link_to 'Home', root_path
        - if user_signed_in?
          %li= link_to "User: #{current_user.username}", user_path(current_user)
          %li= link_to "New League", new_league_path
      %ul.devise_navigation
        - if user_signed_in?
          %li= link_to 'Sign Out', destroy_user_session_path, method: 'delete'
        - else
          %li= link_to 'Sign In', new_user_session_path
      //= render partial: "shared/layout_buttons"
    .alert= alert
    .notice= notice
    #wrapper
      = yield
