!!!
%html
  %head
    %title CTFLeague
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %ul.devise_navigation
        - if user_signed_in?
          %li= link_to 'Sign out', destroy_user_session_path, method: 'delete'
        - else
          %li= link_to 'Sign in', new_user_session_path
      %ul.main_navigation
        //%li= link_to "squmbls", posts_path
        - if user_signed_in?
          %li= link_to "create a new league", new_league_path
          %li= link_to "edit profile", edit_user_registration_path
          %li= link_to "profile", user_path(current_user)
      //= render partial: "shared/layout_buttons"
    .alert= alert
    .notice= notice
    = yield
